:root {
    --ss-theme-core: #613f8d;
    --ss-theme-100: hsl(266, 50%, 91%);
    --ss-theme-150: hsl(266, 50%, 86%);
    --ss-theme-200: hsl(266, 50%, 81%);
    --ss-theme-300: hsl(266, 50%, 71%);
    --ss-theme-400: hsl(266, 50%, 61%);
    --ss-theme-500: hsl(266, 50%, 51%);
    --ss-theme-600: hsl(266, 50%, 41%);
    --ss-theme-700: hsl(266, 50%, 31%);
    --ss-theme-800: hsl(266, 50%, 21%);
    --ss-theme-850: hsl(266, 50%, 16%);
    --ss-theme-900: hsl(266, 50%, 11%);
    --ss-theme-accent: rgb(255, 0, 85);
    --ss-theme-accent2: #406C8D;
    --ss-dark-color: #212121;
    --ss-light-color: #deeefb;
    --ss-background-color: rgba(250, 250, 250, 0.8);
}

html,
body {
    height: 100%;
}

body {

    display: flex;
    flex-direction: column;
    color: var(--ss-theme-dark);
    background-color: var(--ss-theme-150);
}

main {
    flex-grow: 1;
}

footer {
    flex-shrink: 0;
}

.btn-primary {
    --bs-btn-bg: var(--ss-theme-600);
    --bs-btn-border-color: var(--ss-theme-600);
    --bs-btn-hover-bg: var(--ss-theme-accent);
    --bs-btn-hover-border-color: var(--ss-theme-accent);
}

.navbar,
.footer {
    background-color: var(--ss-theme-900);
}

.footer{
    color: var(--ss-theme-300);
}
.nav-link{
    color: var(--ss-theme-300);
}

.socialIcons {
    font-size: 2rem;
    padding-left: .5rem;
    color: var(--ss-theme-300);
    transition: color 0.25s;
}

.nav-link:hover,
.socialIcons:hover {
    color: var(--ss-theme-accent);
}

.app-logo {
    max-width: 400;
}
.checklist i{
    color: var(--ss-theme-accent2);
    padding-right: .5rem;
}
.devIcons {
    font-size: 4rem;
    padding-left: .5rem;
}